<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Airlines25554</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body >
    <header>
        <nav class=" navbar navbar-expand-sm navbar-toggleable-sm  bg-dark border-bottom box-shadow mb-3 ">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Airlines25554</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                        {

                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="Customers" asp-action="Index">
                                            Customers <i class="fa-solid fa-user-pen"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="Employees" asp-action="Index">
                                            Employees <i class="fa-solid fa-user-pen"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="AirPlanes" asp-action="Index"> Airplanes <i class="fa-solid fa-plane"></i></a>
                                    </li>
                               
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="" asp-action="Privacy">Flights <i class="fa-solid fa-circle-question"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="Countries" asp-action="Index">Destinations <i class="fa-solid fa-map-pin"></i></a>
                                    </li>
                                </ul>


                                <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Logout <i class="fa-solid fa-arrow-right-to-bracket"> </i> </a>
                                    </li>
                                </ul>

                        }
                        else if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Customer")))
                        {


                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="Customers" asp-action="Edit">Profile <i class="fa-regular fa-user"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="" asp-action="Index"> Flights <i class="fa-solid fa-plane"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="" asp-action="Privacy">Destinations <i class="fa-solid fa-map-pin"></i> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="" asp-action="Privacy">Historic <i class="fa-solid fa-file-contract"></i></a>
                                    </li>
                                </ul>

                                <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Logout <i class="fa-solid fa-arrow-right-to-bracket"> </i> </a>
                                    </li>

                                </ul>
                        }
                        else if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Employee")))
                        {


                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="Employees" asp-action="Edit">Profile <i class="fa-regular fa-user"></i> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="Flights" asp-action="Index"> Flights <i class="fa-solid fa-plane"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="" asp-action="Privacy">Destinations <i class="fa-solid fa-map-pin"></i> </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="" asp-action="Privacy">Historic <i class="fa-solid fa-file-contract"></i></a>
                                    </li>
                                </ul>

                                <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Logout <i class="fa-solid fa-arrow-right-to-bracket"> </i> </a>
                                    </li>

                                </ul>
                        }
                        else
                        {
                                <ul class="navbar-nav flex-grow-1">

                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="" asp-action="Index"> Flights <i class="fa-solid fa-plane"></i></a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="" asp-action="Privacy">Privacy <i class="fa-solid fa-circle-question"></i></a>
                                    </li>
                                </ul>

                                <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Login">  Login <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="Register">  Register <i class="fa-solid fa-user-plus"></i></a>
                                    </li>
                                </ul>
                        }

                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-dark text-muted">
        <div class="container text-white">
            &copy; 2022 - Ricardo Simão -  <a asp-area="" asp-controller="Home" asp-action="Privacy"> Privacy </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
