@model Airlines25554.Models.FlightViewModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<style>

    .newflight{
        margin: auto;
        width: 50%;
        border-radius: 6px;
        border: solid 6px #343a40;
        padding: 10px;
        text-align: center;
        background-color:white;
    }

    body {
        background-image: url(/images/bgsky.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #tablebg {
        background-color: rgb(255,255,255,0.8);
        padding: 20px;
    }

    #createflight {
        margin: auto;
        width: 50%;
        border: 3px solid #1D98EF;
        padding: 10px;
        text-align: center;
        background-color: rgb(255,255,255,0.8);
    }

</style>



<br />
<div id="createflight">


    <h2>
        Create a new Flight <i class="fa-solid fa-plane-departure"></i>
    </h2>
    <br />


    <a asp-action="CreateFlight" class="btn btn-primary btn-sm"> <i class="fa-solid fa-plus"></i></a>



</div>
<br />
<br />
<br />


<div class="centerLayout" id="tablebg">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive-xl table-striped" id="MyTable" >
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.FlightNumber) <i class="fas fa-plane"></i>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.From) <i class="fas fa-map-pin"></i>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.To) <i class="fas fa-map-pin"></i>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Departure) <i class="fas fa-plane-departure"></i>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Arrival) <i class="fas fa-plane-arrival"></i>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status) <i class="fas fa-info-circle"></i>
                                </th>

                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Flights)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FlightNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.From.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.To.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Departure)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Arrival)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status.StatusName)
                                    </td>

                                    <td>
                                        <a asp-action="EditFlight" asp-route-id="@item.Id" class="btn  btn-outline-dark"><i class="far fa-edit"></i></a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn  btn-outline-dark"><i class="fa-solid fa-circle-info"></i></a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn  btn-outline-dark"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <hr />
                </div>
            </div>
        </div>
    </div>


</div>



@section Scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

        });
    </script>

}


