@model Airlines25554.Models.SearchFlightViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Fights</h1>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
      
         

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Flights)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.From.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
               
            

                <td>
                    <a asp-action="PassengerData" asp-route-id="@item.Id">Buy Ticket</a>
                </td>
            </tr>
        }
    </tbody>
</table>
