@model IEnumerable<Airlines25554.Data.Entities.TicketPurchased>

@{
    ViewData["Title"] = "Historic";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />


<style>

    body {
        background-image: url(/images/bgsky.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #tablebg {
        background-color: rgb(255,255,255,0.8);
        padding: 20px;
    }
</style>

<br />
<br />
<br />
<div class="centerLayout" id="tablebg">
   
   
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                    <table class="table table-hover table-responsive-xl table-striped" id="MyTable" >
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Class)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Seat)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Flight.FlightNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Flight.Departure)
                                </th>
                         
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Class)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Seat)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Flight.FlightNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Flight.Departure)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
               <hr />
                    </div>
                </div>
            </div>
        </div>


</div>

<br />
<br />
<br />






@section Scripts{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

        });
    </script>

}


