@model Airlines25554.Data.Entities.AirPlane

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="row">

    
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Registration)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Registration)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AirplaneModel)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AirplaneModel)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.EconomySeats)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EconomySeats)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ExecutiveSeats)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ExecutiveSeats)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FirstClassSeats)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FirstClassSeats)
            </dd>
        </dl>
    </div>
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px; height:350px;max-width:100%;max-height:auto">
            }
        </div>
</div>

    <div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
       <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-arrow-left-long"></i> Back to List </a>
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
