@model Airlines25554.Data.Entities.AirPlane

@{
    ViewData["Title"] = "Details";
}

<h1> Airplane details</h1>

<div class="row">

    
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Registration)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Registration)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AirplaneModel)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AirplaneModel)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.EconomySeats)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EconomySeats)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ExecutiveSeats)
            </dt>
            <dd class="col-sm-9">
               @Html.DisplayFor(model => model.ExecutiveSeats)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FirstClassSeats)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FirstClassSeats)
            </dd>
        </dl>
    </div>
        <div class="col-md-6">
         
                <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:300px; height:350px;max-width:100%;max-height:auto">
            
        </div>
</div>


<div>
    <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-arrow-left-long"></i> Back to List </a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"> <i class="far fa-edit"></i> Edit </a>
</div>
